
<ion-view view-title="{{chat.sport}}">
<ion-nav-bar class="bar-dark">

<ion-nav-back-button>
Back
  </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <img ng-src= "{{getChatImage(chat.sport)}}" height="50" width = "50">     <p>
    <font color = "white"><h2>{{chat.sport}}</h2>
      Place of game:
      {{chat.location}}
    </p>

    <p>
      Time of game:
      {{chat.time}}
    </p>
    <p>
      Number of players needed:
      {{chat.playerCount}}
    </p></font>

      

    

<h2>Message Board:</h2>
    <ion-item class ng-repeat="message in chat_data" ng-controller = "GameLobbyCtrl">
      <li class="list-group-item">{{message.username}} : {{message.message}}</li>
    </ion-item>

    <form ng-controller="GameLobbyCtrl">
      <div class="item item-input-inset" >
        <label class="item-input-wrapper">
          <input type="text" ng-model="message_ui" placeholder="Enter Message">
        </label>
        <button class="button" ng-click = "sendMessage()">
          <font color = "white">
Send</button></font>
      </div>
    </form>
  </ion-content>
</ion-view>
