<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.sport}}">
  <ion-content class="padding">
    <img ng-src="http://www.proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg" style="width: 64px; height: 64px">
    <p>
      Place of game:
      {{chat.location}}
    </p>

    <p>
      Date of game:
      {{chat.date}}
    </p>

    <p>
      Time of game:
      {{chat.time}}
    </p>
    <p>
      Number of players needed:
      {{chat.playerCount}}
    </p>

      

    <form ng-submit ="joinGame(chat)" ng-controller = "JoinGameCtrl">
    <button class="button button-positive">

  Join this game!
</button>
</form>
  </ion-content>
</ion-view>
