<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.sport}}">
<ion-nav-bar class="bar-dark">

<ion-nav-back-button>
Back
  </ion-nav-back-button></ion-nav-bar>
  <ion-content class="padding">
  <div class = image >
      <img ng-src= "{{getHeroImage(chat.location)}}" width = "100%" height="20%"> </div>
     <p>
    <font color = "white"><h2>{{chat.sport}}</h2>
    <i class="icon ion-at"></i>
      {{chat.location}}
    </p>

    <p>
      <i class="icon ion-at"></i>
      {{chat.time}}
    </p>
    </font>

      

    <form ng-submit ="joinGame(chat)" ng-controller = "JoinGameCtrl">
    <button class="button button-danger">
<font color = "white">
  Join this game!
</button></font>
</form>


<font color="white">
<h2>Message Board:</h2></font>

    <ion-item class ng-repeat="message in chat_data" ng-controller = "GameLobbyCtrl">
      <li class="list-group-item">{{message.username}} : {{message.message}}</li>
    </ion-item>

    <form ng-controller="GameLobbyCtrl">
      <div class="item item-input-inset" >
        <label class="item-input-wrapper">
          <input type="text" ng-model="message_ui" placeholder="Enter Message">
        </label>
        <button class="button" ng-click = "sendMessage()">
          <font color = "white">
Send</button></font>
      </div>
    </form>
  </ion-content>
</ion-view>
