<!--<ion-view view-title="{{chat.sport}}">
  <ion-content class="padding">
    <img ng-src= "{{getChatImage(chat.sport)}}" height="50" width = "50">     
    <p>
    <h1>{{chat.sport}}</h1>
      Place of game:
      {{chat.location}}
    </p>

    <p>
      Date of game:
      {{chat.date}}
    </p>

    <p>
      Time of game:
      {{chat.time}}
    </p>
    <p>
      Number of players needed:
      {{chat.playerCount}}
    </p>
      
    <form ng-submit ="joinGame(chat)" ng-controller = "JoinGameCtrl">
      <button class="button button-positive">Join this game!</button>
    </form>
  </ion-content>
</ion-view>
-->
<ion-view view-title="Game Lobby">
  <ion-content class="padding">

    <img ng-src= "{{pickup_game.img_path}}" height="50" width = "50">     
    <p>
    <h1>{{pickup_game.sport}}</h1>
      Place of game:
      {{pickup_game.location}}
    </p>

    <p>
      Date of game:
      {{pickup_game.date}}
    </p>

    <p>
      Time of game:
      {{pickup_game.time}}
    </p>
    <p>
      display players in game:
    </p>

    <form ng-controller = "GameLobbyCtrl">
      <button class="button button-positive">Leave Game</button>
    </form>

  </ion-content>
</ion-view>