<ion-view view-title="Game Lobby">
  <ion-content class="padding">

    <img ng-src= "{{pickup_game.img_path}}" height="50" width = "50">     
    <p>
    <h1>{{pickup_game.sport}}</h1>
      Place of game:
      {{pickup_game.location}}
    </p>

    <p>
      Date of game:
      {{pickup_game.date}}
    </p>

    <p>
      Time of game: (should be time until game)
      {{pickup_game.time}}
    </p>

    <h5>Players in lobby</h5>
    <ion-item class ng-repeat="player in players"  type="item-text-wrap" type="item-text-wrap" ng-controller = "GameLobbyCtrl">
      <li class="list-group-item">{{player}}</li>
    </ion-item>

    <form ng-controller = "GameLobbyCtrl">
      <button class="button button-positive">Leave Game</button>
    </form>

  </ion-content>
</ion-view>