<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class = "container" id="account_container">

          <!--picture/welcome-->
           <div class="col">
                 
                <div class="card-block" id="account_card_main">
                    <p>welcome {{username}}</p>
                    <h1>Dedman Pickup</h1>
                </div>

                 <!--
                      display 
                        -time until next game 
                        -correct sport picture as background
                        -location 
                        -and maybe a click for more details with other upcomming games (#number of games)
                        -and maybe a leave game option

                        if (no next game) 
                          -defualt image
                 -->
                <span>
                   <h3>{{next_game.sport}} in {{next_game.time}}</h3>
                   <img src="{{next_game.img_path}}" height="100" width="100"></img>
                   <a href="#/game_lobby/{{next_game.id}}">details</a>
                </span>
                  <!-- <img src="{{next_game.img_path}}" height="100" width="150"></img> -->
  
          </div>

          <br>

           <!--nothing you like?-->
           <!--Start a game-->
            <form>
                <button class="button button-positive" id="start_a_game_button" ng-click="startGame()">Start a Game</button>
            </form>
           <!--href="#/tab/dash" >-->

          <!--search for a sepecific sport-->
          <form ng-controller="HomeCtrl">
            <div class="item item-input-inset" >
              <label class="item-input-wrapper">
                <input type="text" ng-model="search_ui" placeholder="Search for a sport">
              </label>
              <button class="button button-positive" ng-click = "searchBySport()">Search</button>
            </div>
            <!--display results-->
            <div class="card-block">
              <ul class="list-group list-group-flush">
                <ion-item class ng-repeat="result in searchResults"  type="item-text-wrap" type="item-text-wrap" ng-controller = "HomeCtrl" href="#/game_lobby/{{result.id}}">
                  <li class="list-group-item"> 
                    <img src="{{result.img_path}}" height="50" width = "50">
                    <strong> <h3> {{result.sport}}</h3></strong> <h4>at <strong>{{result.location}}
                    </strong> starting at <strong>{{result.time}}</strong> </h4>              
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </li>
                </ion-item>
              </ul>
            </div>
          </form>
          <!--/nothing you like?-->

              <!--
                    suggested games

                      -time of game, time until game
                      -correct sport picture
                      -hover change
                      -should be able to join a game from suggested view view

              -->
              <div class="col" >

                <div class="card" id="account_card_suggested_games">
                  <div class="card-block">
                    <div>
                      <h3>Games Starting Soon</h3>
                      <ul class="list-group list-group-flush">

                        <ion-item class ng-repeat="suggestedGame in suggestedGames"  type="item-text-wrap" type="item-text-wrap" ng-controller = "HomeCtrl" href="#/game_lobby/{{suggestedGame.id}}">
                          <li class="list-group-item" > 
                              <!--{{suggestedGame.id}}-->
                            <img src="{{suggestedGame.img_path}}" height="50" width = "50">
                            <strong> <h3> {{suggestedGame.sport}}</h3></strong> <h4>at <strong>{{suggestedGame.location}}
                             </strong> starting at <strong>{{suggestedGame.time}}</strong> </h4>                    
                            <i class="icon ion-chevron-right icon-accessory"></i>
                          </li>

                          </ion-item>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
              <!--/suggested games-->

        </ion-toggle>


            </div>
          </div>


      </div>  
    </ion-list>
  </ion-content>
</ion-view>
