<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class = "container" id="account_container">

          <!--picture/welcome-->
           <div class="col">
                 
                <div class="card-block" id="account_card_main">
                    <h1>Still need a name!</h1>
                </div>

                 <!--
                      display 
                        -time until next game 
                        -correct sport picture as background
                        -location 
                        -and maybe a click for more details with other upcomming games (#number of games)
                        -and maybe a leave game option

                        if (no next game) 
                          -defualt image
                 -->
          </div>

            <!--search for a game-->
            <ion-list>
             
                <div class="list">
                  <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="text" ng-model = "form.name" placeholder="input search sport">
                    </label>
                    <form ng-click = "search()"></form>    
                  </div>


                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="searchResult in searchResults" type="item-text-wrap" href="#/tab/chats/{{searchResult.id}}" >
                  <img ng-src="http://www.proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg">
                  <h2>{{searchResult.sport}}</h2>
                  <p>{{searchResult.date}}</p>
                  <p>{{searchResult.time}}</p>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

            </ion-list>
            <!--/search for a game-->

              <!--
                    suggested games

                      -time of game, time until game
                      -correct sport picture
                      -hover change
                      -should be able to join a game from suggested view view

              -->
              <div class="col" >

                <div class="card" id="account_card_suggested_games">
                  <div class="card-block">
                    <div>
                      <h3>Suggested games </h3>
                      <ul class="list-group list-group-flush">

                        <ion-item class ng-repeat="suggestedGame in suggestedGames"  type="item-text-wrap"  ng-click = "getGame({{suggestedGame.id}})" type="item-text-wrap" href="#/tab/chats/{{suggestedGame.id}}" ng-controller = "ChatDetailCtrl">
                          <li class="list-group-item" > 
                              <!--{{suggestedGame.id}}-->
                            <p>{{suggestedGame.sport}}</p>
                            <p> {{suggestedGame.location}}</p>
                            <p>{{suggestedGame.time}}</p>                    
                            <i class="icon ion-chevron-right icon-accessory"></i>
                          </li>

                          </ion-item>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
              <!--/suggested games-->

        </ion-toggle>

          <!--nothing you like?-->
          <form ng-click = "newGame()" href="#/tab/dash" ng-controller = "CreateGameCtrl" >
            <button class="button button-positive">
              Click to create a new game
            </button>
          </form>
          <!--/nothing you like?-->


            </div>
          </div>


      </div>  
    </ion-list>
  </ion-content>
</ion-view>
