  <div class = "container" id="login_background">
  <div class="card m-t-3">
  
  <div class="card-block" id="login_card_background">
    <h4 class="card-title">Please login</h4>
    <div ng-bind-html="failed_login_attempt_message"></div>

    <div class="wrapper">
    <form class="form-signin">       
      
      <input type="text" ng-model="data.username" placeholder="Username" id="login_username_feild"/>
      <input type="password" ng-model="data.password" placeholder="Password" id="login_password_feild" />      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "login()" id="login_login_button">Login</button>  
      
    </form>

    <h6 ng-model="data.username">Or sign up...</h6>
    <button class="btn" type="submit" ng-click = "sign_up_state()" id="login_sign_up_button">Sign Up</button> 

  </div>
  </div>
</div>
</div>