  <div class = "container">
  <div class="card m-t-3">
  
  <div class="card-block">
    <h4 class="card-title">Please login</h4>
    <div ng-bind-html="failed_login_attempt_message"></div>

    <div class="wrapper">
    <form class="form-signin">       
      
      <input type="text" ng-model="data.username" placeholder="Username" />
      <input type="password" ng-model="data.password" placeholder="Password" />      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "login()">Login</button>  
      
    </form>

    <h6 ng-model="data.username">Or sign up...</h6>
    <button class="btn" type="submit" ng-click = "sign_up_state()">Sign Up</button> 

  </div>
  </div>
</div>
</div>