
<ion-view view-title="Game Lobby">


  <ion-content>
    <ion-list>
    <form ng-submit = "newGame()" ng-controller = "CreateGameCtrl" >
        <button class="button button-positive">
           Click to create a new game
          </button>
      </form>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
        <img ng-src="http://www.proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg">
        <h2>{{chat.sport}}</h2>
        <p>{{chat.date}}</p>
        <p>{{chat.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
