  <div class = "container">
  <div class="card m-t-3">
  
  <div class="card-block">
    <h4 class="card-title">Please login</h4>
    
   
    <div class="wrapper">
    <form class="form-signin">       
      
      <input type="text" class="form-control" id="username_ui" name="username" placeholder="Username" required="" autofocus="" />
      <input type="password" class="form-control" id="password_ui" name="password" placeholder="Password" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click = "login()">Login</button>  
      
    </form>
  </div>
  </div>
</div>
</div>
