<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    
    <div class = "container">
        <h1> Welcome {{userName}}! </h2>

        <div class="col">
            <div class="card">
               
  <div class="card-block">
    <h3>Your upcoming games!</h3>
   
  </div>
  <ul class="list-group list-group-flush">
    <ion ng-repeat="gameJoined in gamesJoined"ng-click = "sendGameData(sport, id, location, time)" href="#/tab/chats/{{searchResult.id}}" type="item-text-wrap" >
    <li class="list-group-item"> <strong> <h4>{{gameJoined.sport}}</strong></h4> at <strong>{{gameJoined.location}}</strong> starting at <strong>{{gameJoined.time}}</strong>    </li>
    
    
</div>
        </div>
      <!--  <div class="col-xs-6.8 m-t-3" ></div>
            <div class="card">
                <form ng-submit = "getPreferences()" >
        <button class="button button-positive m-l-3">
            <h4 style="color:white;"> Click here to see your sports preferences</h4>
        </button>
    </form>
   
                
                <ul class="list-group list-group-flush">
                  <ion ng-repeat="preference in preferences" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
                    <li class="list-group-item" > {{preference.sport}} </li>
                    
                </ul>
            </div>-->
            <div class="col" ></div>
            <div class="card">
              <div class="card-block">
<div>
  
                <h3>Suggested games </h3>
                <ul class="list-group list-group-flush">
                 <ion class ng-repeat="suggestedGame in suggestedGames"  type="item-text-wrap"  >
                    <li class="list-group-item" > 
                      <!--{{suggestedGame.id}}-->
                    <strong><h3>{{suggestedGame.sport}}</strong> </h3> will be played at <strong>{{suggestedGame.location}}</strong> and will start at <strong>{{suggestedGame.time}}</strong>
                    <i class="icon ion-chevron-right icon-accessory"></i>

        <form ng-submit ="joinGame(suggestedGame)" ng-controller = "JoinGameCtrl">
        <button type = "button" class="btn btn-primary btn-sm m-l-3 m-t-1">
            Click here to join
        </button>
    </form>
    
                     </li>

                    </ion-item>

  </div>
</div>


        
            </div>

    </ion-toggle>
    </div>
    </ion-list>
    
    
  </ion-content>
</ion-view>
