
<ion-view view-title="Game Lobby">
<ion-nav-bar class = "bar-dark">
<ion-nav-back-button>
Back
  </ion-nav-back-button>
        
          <ion-nav-buttons side= "right">
               <form ng-click = "newGame()" href="#/tab/dash" ng-controller = "CreateGameCtrl" >
                <div class = headbutton>
          <button class="button button-light button-sm" >
            <i class="icon ion-plus-round"></i>
          </button>
        </div>
      </form>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content>
    <ion-list>
     
    
   
    <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" ng-model = "searchGames" placeholder="search">

            </label>
<i class="icon ion-ios-search item-icon-right"></i> 
          </div>



          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="searchResult in searchResults" type="item-text-wrap" href="#/tab/chats/{{searchResult.id}}" >
        <img ng-src="http://www.proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg">

        <h2>{{searchResult.sport}}</h2>
       
        <p>{{searchResult.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
    </div>
  </div>


<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="chat in chats | filter: searchGames" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
       <img ng-src= "{{getChatImage(chat.sport)}}" height="50" width = "50">
       <strong> <h3>  {{chat.sport}}</h3></strong> <h4>at <strong>{{chat.location}}
      </strong> starting at <strong>{{chat.time}}</strong> </h4> 
      <i class="icon ion-chevron-right icon-accessory m-l-3"></i>
       </ion-item>

      
        
    
    </ion-list>
    
     
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
