
<ion-view view-title="Game Lobby"  >
          <button class="button button-positive">
            Click to create a new game
          </button>
      </form>>


  <ion-content>
    <ion-list>
     
     <ion-checkbox ng-model="form.Showname">Search by sport</ion-checkbox>
      <div ng-show= "form.Showname">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model = "form.name" placeholder="input search sport">
            </label>
            <form ng-click = "search()">
              <button class="button button-positive">
                Search
                </button>
              </form>    
          </div>


          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="searchResult in searchResults" type="item-text-wrap" href="#/tab/chats/{{searchResult.id}}" >
        <img ng-src="http://www.proprofs.com/quiz-school/topic_images/p18lq7ediepl816p6s04171vo23.jpg">
        <h2>{{searchResult.sport}}</h2>
        <p>{{searchResult.date}}</p>
        <p>{{searchResult.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
    </div>
  </div>


<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click = "sendGameData(sport, id, location, time)" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
       <img ng-src= "{{getChatImage(chat.sport)}}" height="50" width = "50">
        <h2>{{chat.sport}}</h2>
        <p>{{chat.date}}</p>
        <p>{{chat.time}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
      </ion-item>
    </ion-list>
    
     <form ng-click = "newGame()" href="#/tab/dash" ng-controller = "CreateGameCtrl" >
          <button class="button button-positive">
            Click to create a new game!!
          </button>
      </form>
        
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
