<ion-view view-title="Create a Game">
  <ion-content class="padding">
    <h2>Can't find a game you want to join?</h2>
      <h3>Create a new game here!</h3>
      
    <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Sport</span>
    <select>
      <div ng-repeat = "chat in chats">
            <option>Basketball</option>
            <option>Soccer</option>
            <option>Tennis</option>  
            <option>Ping Pong</option>
            <option>Pool</option>
            <option>Sand Volleyball</option>
        </div>
    </label>
  </select>
</div>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span>
    <select>
            <option>Dedman Rec Center</option>
            <option>Intramural Field</option>
            <option>Sand Volleyball Courts</option>
            <option>Track</option>
            <option>Lacrosse Fields</option>
    </label>
  </select>
</div>

   <div class="list">
        <label class="item item-input">
          <span class="input-label">Time</span>
          <input type="time" placeholder="Enter Time Here">
        </label>
      </div>

      <form ng-submit ="createGame()" ng-controller = "CreateGameCtrl">
      <button class="button button-full button-calm">
      CREATE NEW GAME!!
      </button>


    
    

  
  </ion-content>
</ion-view>
