<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    
    <div class = "container">
        <h1> Welcome {{userName}}! </h2>

        <div class="col-xs-6 m-t-2">
            <div class="card">
               
  <div class="card-block">
    <form ng-submit = "getGame()" >
        <button class="button button-positive">
            <h4 style="color:white;">Click here for data on your upcoming games!</h4>
        </button>
    </form>
   
  </div>
  <ul class="list-group list-group-flush">
    <ion ng-repeat="gameJoined in gamesJoined" type="item-text-wrap" >
    <li class="list-group-item">{{gameJoined.sport}} will be played at {{gameJoined.location}} and will start at {{gameJoined.time}}
    </li>
    
    
</div>
        </div>
        <div class="col-xs-6.8 m-t-3" ></div>
            <div class="card">
                <form ng-submit = "getPreferences()" >
        <button class="button button-positive m-l-2">
            <h4 style="color:white;"> Click here for sports preferences</h4>
        </button>
    </form>
   
                <h3> Your sport preferences: </h3>
                <ul class="list-group list-group-flush">
                  <ion ng-repeat="preference in preferences" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
                    <li class="list-group-item" > {{preference.sport}} </li>
                    
                </ul>
            </div>
            <div class="col-xs-6 m-t-3" ></div>
            <div class="card">
              <h3> <input type="checkbox" ng-click="getSuggestedGames()" ng-model="checked" aria-label="Toggle ngHide">Your suggested games:<br/></h3> 
<div>
  <div class="check-element animate-show" ng-show="checked">
    <span class="glyphicon glyphicon-thumbs-up"></span>
                <ul class="list-group list-group-flush">
                  <ion ng-repeat="suggestedGame in suggestedGames" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" >
                    <li class="list-group-item" > {{suggestedGame.sport}} will be played at {{suggestedGame.location}} and will start at {{suggestedGame.time}}</li>
  </div>
</div>


        
            </div>

    </ion-toggle>
    </div>
    </ion-list>
    
    
  </ion-content>
</ion-view>
